{% extends 'base.html.twig' %}

{% block title %}Inventoriaus pirkimo užklausų langasendblock {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div>
<h1>Užklausų sąrašas....</h1>
<ul>
    <form>
    {% for request in requests %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p>Užsakymo data: {{ request.getUzsakymoData|date }}</p>
            <p>Kiekis: {{ request.getKiekis }}</p>
            <p>Komentaras: {{ request.getKomentaras }}</p>
            <button formaction="{{ path('inventorius_confirm', {'id': request.id}) }}" type ="submit" class="btn btn-primary">Patvirtinti užsakymą</button>
        </li>
    {% endfor %}
    </form>
</ul>
</div>

{% endblock %}
