<form method="post" action="{{ path('marsrutas_delete', {'id': marsruta.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marsruta.id) }}">
    <button class="btn btn-sm btn-danger" class="btn">Trinti</button>
</form>
