{% extends 'base.html.twig' %}

{% block title %}Redaguoti maršrutą{% endblock %}

{% block body %}
    <h1>Redaguoti maršrutą</h1>

    {{ include('marsrutas/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

    <a class="btn btn-success" href="{{ path('marsrutas_index') }}">Atgal į sąrašą</a>

    {{ include('marsrutas/_delete_form.html.twig') }}
{% endblock %}
