{% extends 'base.html.twig' %}

{% block title %}Maršrutai{% endblock %}

{% block body %}
    <h1>Maršrutai</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Išvykimas</th>
                <th>Atvykimas</th>
                <th>Kelionės trukmė</th>
                <th>Kryptis</th>
                <th>Krovinio ID</th>
                <th>Sandėlis</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for marsruta in marsrutas %}
            <tr>
                <td>{{ marsruta.id }}</td>
                <td>{{ marsruta.isvykimas ? marsruta.isvykimas|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ marsruta.atvykimas ? marsruta.atvykimas|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ marsruta.Trukme}}</td>
                <td>{{ marsruta.kryptis}}</td>
                <td>{{ marsruta.InventoriusId}}</td>
                <td>{{ marsruta.SandelisId}}</td>
                <td>
                    {# <a href="{{ path('marsrutas_show', {'id': marsruta.id}) }}">show</a> #}
                    <a class="btn btn-sm btn-secondary" href="{{ path('marsrutas_edit', {'id': marsruta.id}) }}">Redaguoti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nėra maršrutų</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('marsrutas_new') }}">Kurti naują maršrutą</a>
{% endblock %}
