{% extends 'base.html.twig' %}

{% block title %}Naujas maršrutas{% endblock %}

{% block body %}
    <h1>Naujas maršrutas</h1>

    {{ include('marsrutas/_form.html.twig') }}

    <a class="btn btn-success" href="{{ path('marsrutas_index') }}">Atgal į sąrašą</a>
{% endblock %}
