{% extends 'base.html.twig' %}

{% block title %}Maršrutas{% endblock %}

{% block body %}
    <h1>Maršrutas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marsruta.id }}</td>
            </tr>
            <tr>
                <th>Atvykimas</th>
                <td>{{ marsruta.atvykimas ? marsruta.atvykimas|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('marsrutas_index') }}">Atgal į sąrašą</a>

    <a  class="btn btn-sm btn-secondary" href="{{ path('marsrutas_edit', {'id': marsruta.id}) }}">Redaguoti</a>

    {{ include('marsrutas/_delete_form.html.twig') }}
{% endblock %}
