<form method="post" action="{{ path('inventorius_delete', {'id': inventorius.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inventorius.id) }}">
    <button class="btn btn-sm btn-danger" class="btn">Ištrinti</button>
</form>
