{% extends 'base.html.twig' %}

{% block title %}Redaguoti užsakymą{% endblock %}

{% block body %}
    <h1>Redaguoti užsakymą</h1>

    {{ include('inventorius/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

    <a  class="btn btn-success" href="{{ path('inventorius_index') }}">Atgal į sąrašą</a>

    {{ include('inventorius/_delete_form.html.twig') }}
{% endblock %}
