{% extends 'base.html.twig' %}

{% block title %}Inventorius{% endblock %}

{% block body %}
    <h1>Inventorius</h1>
    <h2>Siuntiniai</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Užsakymo data</th>
                <th>Kiekis</th>
                <th>Komentaras</th>
                <th>Ar yra sandelyje</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for inventorius in inventoriuses %}
            {% if inventorius.tipas == "siuntinys" %}
                <tr>
                    <td>{{ inventorius.id }}</td>
                    <td>{{ inventorius.uzsakymoData ? inventorius.uzsakymoData|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ inventorius.kiekis }}</td>
                    <td>{{ inventorius.komentaras }}</td>
                    <td>{{ inventorius.yraSandelyje ? 'Taip' : 'Ne' }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('inventorius_show', {'id': inventorius.id}) }}">Detaliau</a>
                        <a class="btn btn-sm btn-secondary" href="{{ path('inventorius_edit', {'id': inventorius.id}) }}">Redaguoti</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="6">Nėra įrašų</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Sandėlio inventorius</h2>
     <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Užsakymo data</th>
                <th>Kiekis</th>
                <th>Komentaras</th>
                <th>Ar yra sandelyje</th>
                <th>Tipas</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for inventorius in inventoriuses %}
            {% if inventorius.tipas != "siuntinys" %}
                <tr>
                    <td>{{ inventorius.id }}</td>
                    <td>{{ inventorius.uzsakymoData ? inventorius.uzsakymoData|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ inventorius.kiekis }}</td>
                    <td>{{ inventorius.komentaras }}</td>
                    <td>{{ inventorius.yraSandelyje ? 'Taip' : 'Ne' }}</td>
                    <td>{{ inventorius.tipas }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('inventorius_show', {'id': inventorius.id}) }}">Detaliau</a>
                        <a class="btn btn-sm btn-secondary" href="{{ path('inventorius_edit', {'id': inventorius.id}) }}">Redaguoti</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="6">Nėra įrašų</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('inventorius_new') }}">Įvesti užsakymą</a>
{% endblock %}
