{% extends 'base.html.twig' %}

{% block title %}Naujas užsakymas{% endblock %}

{% block body %}
    <h1>Naujas užsakymas</h1>

    {{ include('inventorius/_form.html.twig') }}

    <a class="btn btn-success" href="{{ path('inventorius_index') }}">Atgal į sąrašą</a>
{% endblock %}
