{% extends 'base.html.twig' %}

{% block title %}Inventorius{% endblock %}

{% block body %}
    <h1>Inventorius</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inventorius.id }}</td>
            </tr>
            <tr>
                <th>Užsakymo data</th>
                <td>{{ inventorius.uzsakymoData ? inventorius.uzsakymoData|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Kiekis</th>
                <td>{{ inventorius.kiekis }}</td>
            </tr>
            <tr>
                <th>Komentaras</th>
                <td>{{ inventorius.komentaras }}</td>
            </tr>
            <tr>
                <th>Yra sandelyje</th>
                <td>{{ inventorius.yraSandelyje ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Užsakovas</th>
                <td>{{ inventorius.uzsake }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('inventorius_index') }}">Atgal į sąrašą</a>

    <a class="btn btn-sm btn-secondary" href="{{ path('inventorius_edit', {'id': inventorius.id}) }}">Redaguoti</a>

    {{ include('inventorius/_delete_form.html.twig') }}
{% endblock %}
