{% extends 'base.html.twig' %}

{% block title %}Inventoriaus pirkimo užklausų langasendblock {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div>

<form>
<div class="form-group">
	<label for="vehicleName">Transporto pavadinimas</label>
	<input class="form-control" type="text" name="vehicleName">
</div>
<div class="form-group">
	<label for="price">Kaina</label>
	<input class="form-control" type="number" name="price">
</div>
<div class="form-group">
	<label for="amount">Kiekis</label>
	<input class="form-control" type="number" name="amount">
</div>
<br></br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

{% endblock %}
