{% extends 'base.html.twig' %}

{% block title %}Registracija{% endblock %}

{% block body %}
    <h1>Registracija</h1>

    {{ form_start(registrationForm, {'attr': {'class': 'form-signin'}}) }}
        <div class="form-label-group">
            {{ form_label(registrationForm.email, 'El. Paštas')}}
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'El. Paštas'}})}}
            {{ form_errors(registrationForm.email) }}
		</div>
        
        <div class="form-label-group">
            {{ form_label(registrationForm.plainPassword.first, 'Slaptažodis')}}
            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Slaptažodis'}})}}
            {{ form_errors(registrationForm.plainPassword.first) }}
		</div>

        <div class="form-label-group">
            {{ form_label(registrationForm.plainPassword.second, 'Slaptažodžio patvirtinimas')}}
            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Slaptažodžio patvirtinimas'}})}}
            {{ form_errors(registrationForm.plainPassword.second) }}
		</div>

        <div class="form-label-group">
            {{ form_label(registrationForm.vardas, 'Vardas')}}
            {{ form_widget(registrationForm.vardas, {'attr': {'class': 'form-control', 'placeholder': 'Vardas'}})}}
            {{ form_errors(registrationForm.vardas) }}
		</div>

		<div class="form-label-group">
            {{ form_label(registrationForm.pavarde, 'Pavardė')}}
            {{ form_widget(registrationForm.pavarde, {'attr': {'class': 'form-control', 'placeholder': 'Pavardė'}})}}
            {{ form_errors(registrationForm.pavarde) }}
		</div>

        <div class="form-label-group">
            {{ form_label(registrationForm.gimimo_data, 'Gimimo data')}}
            {{ form_widget(registrationForm.gimimo_data, {'attr': {'class': 'form-control', 'placeholder': 'Gimimo data'}})}}
            {{ form_errors(registrationForm.gimimo_data) }}
		</div>

        <div class="form-label-group">
            {{ form_label(registrationForm.pasto_kodas, 'Pašto kodas')}}
            {{ form_widget(registrationForm.pasto_kodas, {'attr': {'class': 'form-control', 'placeholder': 'Pašto kodas'}})}}
            {{ form_errors(registrationForm.pasto_kodas) }}
		</div>

		<div class="form-label-group">
            {{ form_label(registrationForm.adresas, 'Adresas')}}
            {{ form_widget(registrationForm.adresas, {'attr': {'class': 'form-control', 'placeholder': 'Adresas'}})}}
            {{ form_errors(registrationForm.adresas) }}
		</div>

       {#  {{ form_row(registrationForm.agreeTerms) }} #}

        <button class="btn btn-lg btn-primary btn-block">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
