{% if app.user.userType.name == 'Admin' %}
	<form method="post" action="{{ path('uzsakymas_delete', {'id': uzsakyma.id}) }}" onsubmit="return confirm('Ar tikrai norite ištrinti šį užsakymą?');">
		<input type="hidden" name="_method" value="DELETE">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ uzsakyma.id) }}">
		<button class="btn btn-sm btn-danger">Trinti</button>
	</form>


	{% if uzsakyma.busena.pavadinimas == 'Vykdomas' %}
		<form method="post" action="{{ path('uzsakymas_approve', {'id': uzsakyma.id}) }}">
			<input type="hidden" name="_method" value="POST">
			<input type="hidden" name="_token" value="{{ csrf_token('approve' ~ uzsakyma.id) }}">
			<button class="btn btn-sm btn-success">Patvirtinti</button>
		</form>

		<form method="post" action="{{ path('uzsakymas_deny', {'id': uzsakyma.id}) }}">
			<input type="hidden" name="_method" value="POST">
			<input type="hidden" name="_token" value="{{ csrf_token('deny' ~ uzsakyma.id) }}">
			<button class="btn btn-sm btn-warning">Atmesti</button>
		</form>
	{% endif %}
{% endif %}
