{% extends 'base.html.twig' %}

{% block title %}Užsakymo redagavimas
{% endblock %}

{% block body %}
	<h1>Užsakymo redagavimas</h1>
	<div class="row">
		<div class="col-12 d-flex flex-row justify-content-end">
			{{ include('uzsakymas/_delete_form.html.twig') }}
			<a class="btn btn-sm btn-secondary ml-2" href="{{ path('uzsakymas_index') }}">Grįžti</a>
		</div>
	</div>
	{{ include('uzsakymas/_form.html.twig', {'button_label': 'Atnaujinti'}) }}
{% endblock %}
