{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
    <h1>{{controller_name}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sukurimo_data</th>
                <th>Pristatymo_data</th>
                <th>Patvirtinimo_data</th>
                <th>Klientas</th>
                <th>Adresas</th>
                <th>Būsena</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for uzsakyma in uzsakymas %}
            <tr>
                <td>{{ uzsakyma.id }}</td>
                <td>{{ uzsakyma.sukurimoData ? uzsakyma.sukurimoData|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ uzsakyma.pristatymoData ? uzsakyma.pristatymoData|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ uzsakyma.patvirtinimoData ? uzsakyma.patvirtinimoData|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ uzsakyma.user }}</td>
                <td>{{ uzsakyma.adresas }}</td>
                <td>
                    <span class="badge badge-dark">{{ uzsakyma.busena.pavadinimas }}</span>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('uzsakymas_show', {'id': uzsakyma.id}) }}">Rodyti</a>
                    {% if uzsakyma.busena.pavadinimas == 'Vykdomas' %}
                        <a class="btn btn-sm btn-secondary" href="{{ path('uzsakymas_edit', {'id': uzsakyma.id}) }}">Redaguoti</a>
                    {% else %}
                        <a class="btn btn-sm btn-secondary disabled" href="{{ path('uzsakymas_edit', {'id': uzsakyma.id}) }}">Redaguoti</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Užsakymų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('uzsakymas_new') }}">Kurti užsakymą</a>
{% endblock %}
