{% extends 'base.html.twig' %}

{% block title %}Užsakymo kūrimas{% endblock %}

{% block body %}
    <h1>Užsakymo kūrimas</h1>

    {{ include('uzsakymas/_form.html.twig') }}

    <a class="btn btn-sm btn-secondary" href="{{ path('uzsakymas_index') }}">Grįžti</a>
{% endblock %}
