{% extends 'base.html.twig' %}

{% block title %}Užsakymo informacija{% endblock %}

{% block body %}
    <h1>Užsakymo informacija</h1>

    <div class="row mb-2">
        <div class="col-12 d-flex flex-row justify-content-end">
            <a class="btn btn-sm btn-primary mr-2" href="{{ path('uzsakymas_edit', {'id': uzsakyma.id}) }}">Redaguoti</a>
            <a class="btn btn-sm btn-secondary mr-2" href="{{ path('uzsakymas_index') }}">Grįžti</a>
            {{ include('uzsakymas/_delete_form.html.twig') }}
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ uzsakyma.id }}</td>
            </tr>
            <tr>
                <th>Sukurimo_data</th>
                <td>{{ uzsakyma.sukurimoData ? uzsakyma.sukurimoData|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Pristatymo_data</th>
                <td>{{ uzsakyma.pristatymoData ? uzsakyma.pristatymoData|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Patvirtinimo_data</th>
                <td>{{ uzsakyma.patvirtinimoData ? uzsakyma.patvirtinimoData|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Adresas</th>
                <td>{{ uzsakyma.adresas }}</td>
            </tr>
        </tbody>
    </table>
    <h1>Atsiliepimas</h1>
    {% if form %}
        {{ include('atsiliepimas/_form.html.twig') }}
    {% else %}
        <div class="col-12 d-flex flex-row justify-content-start mb-2">
            <a class="btn btn-sm btn-primary mr-2" href="{{ path('uzsakymas_show_edit', {'id': uzsakyma.id}) }}">Redaguoti</a>
            {{ include('atsiliepimas/_delete_form.html.twig') }}
        </div>
        <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ uzsakyma.atsiliepimas.id }}</td>
            </tr>
            <tr>
                <th>Tekstas</th>
                <td>{{ uzsakyma.atsiliepimas.tekstas }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ uzsakyma.atsiliepimas.data ? uzsakyma.atsiliepimas.data|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Antraste</th>
                <td>{{ uzsakyma.atsiliepimas.antraste }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
{% endblock %}
