<form method="post" action="{{ path('skola_delete', {'id': skola.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ skola.id) }}">
    <button class="btn">Delete</button>
</form>
