{% extends 'base.html.twig' %}

{% block title %}Redaguoti Skolą{% endblock %}

{% block body %}
    <h1>Redaguoti Skolą</h1>

    {{ include('skola/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('skola_index') }}">back to list</a>

    {{ include('skola/_delete_form.html.twig') }}
{% endblock %}
