{% extends 'base.html.twig' %}

{% block title %}Skolos{% endblock %}

{% block body %}
    <h1>Skolos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipas</th>
                <th>Isdavimo_data</th>
                <th>Grazinimo_data</th>
                <th>Palukanos</th>
                <th>Isdavejas</th>
                <th>Dydis</th>
                <th>Grazinta_suma</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skola in skolas %}
            <tr>
                <td>{{ skola.id }}</td>
                <td>{{ skola.tipas }}</td>
                <td>{{ skola.isdavimoData ? skola.isdavimoData|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ skola.grazinimoData ? skola.grazinimoData|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ skola.palukanos }}</td>
                <td>{{ skola.isdavejas }}</td>
                <td>{{ skola.dydis }}</td>
                <td>{{ skola.grazintaSuma }}</td>
                <td>
                    <a href="{{ path('skola_show', {'id': skola.id}) }}">show</a>
                    <a href="{{ path('skola_edit', {'id': skola.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('skola_new') }}">Create new</a>
{% endblock %}
