{% extends 'base.html.twig' %}

{% block title %}Užregistruoti naują skolą{% endblock %}

{% block body %}
    <h1>Sukurti naują Skolą</h1>

    {{ include('skola/_form.html.twig') }}

    <a href="{{ path('skola_index') }}">back to list</a>
{% endblock %}
