{% extends 'base.html.twig' %}

{% block title %}Skola{% endblock %}

{% block body %}
    <h1>Skola</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ skola.id }}</td>
            </tr>
            <tr>
                <th>Tipas</th>
                <td>{{ skola.tipas }}</td>
            </tr>
            <tr>
                <th>Isdavimo_data</th>
                <td>{{ skola.isdavimoData ? skola.isdavimoData|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Grazinimo_data</th>
                <td>{{ skola.grazinimoData ? skola.grazinimoData|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Palukanos</th>
                <td>{{ skola.palukanos }}</td>
            </tr>
            <tr>
                <th>Isdavejas</th>
                <td>{{ skola.isdavejas }}</td>
            </tr>
            <tr>
                <th>Dydis</th>
                <td>{{ skola.dydis }}</td>
            </tr>
            <tr>
                <th>Grazinta_suma</th>
                <td>{{ skola.grazintaSuma }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('skola_index') }}">back to list</a>

    <a href="{{ path('skola_edit', {'id': skola.id}) }}">edit</a>

    {{ include('skola/_delete_form.html.twig') }}
{% endblock %}
