{% extends 'base.html.twig' %}

{% block title %}Hello DebtController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
<form action="{{ path('debt_report') }}">
  <div class="form-group">
	<label for="dateDebtFrom">Apskaičiuoti skolas nuo</label>
   <input type="date" name="dateDebtFrom"> 
    <label for"dateDebtTo"> iki </label>
	<input type="date" name="dateDebtTo">
  </div>
    <button type="submit" class="btn btn-primary">Generuoti skolų ataskaitą</button>
</form>

</div>
{% endblock %}
