{% extends 'base.html.twig' %}

{% block title %}Skolos registravimo langas!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
<form>
<div class="form-group">
    <label for="TypeOfDebt">Skolos tipas</label>
	<input class="form-control" id="TypeOfDebt">
</div>
<div class="form-group">
	<label for="debtDateOfIssue">Išdavimo data</label>
	<input class="form-control" type="date" name"debtDateOfIssue">
</div>
<div class="form-group">
	<label for="debtDateOfReturn">Gražinimo data</label>
	<input class="form-control" type="date" name="debtDateOfReturn">
</div>
<div class="form-group">
	<label for="interest">Palūkanos</label>
	<input class="form-control" type="number" step="0.1" name="interest">
</div>
<div class="form-group">
    <label for="DebtProvider">Skolos išdavėjo pavadinimas</label>
	<input class="form-control" type="text" id="DebtProvider">
</div>
<div class="form-group">
	<label for="DebtAmount">Skolos dydis</label>
	<input class="form-control" type="number" name="DebtAmount">
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>
{% endblock %}
