{% if uzsakyma.atsiliepimas %}
	<form method="post" action="{{ path('atsiliepimas_delete', {'id': uzsakyma.atsiliepimas.id}) }}" onsubmit="return confirm('Ar tikrai norite ištrinti atsiliepimą?');">
		<input type="hidden" name="_method" value="DELETE">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ uzsakyma.atsiliepimas.id) }}">
		<button class="btn btn-sm btn-danger">Trinti</button>
	</form>
{% endif %}
