{% extends 'base.html.twig' %}

{% block title %}Edit Atsiliepimas{% endblock %}

{% block body %}
    <h1>Edit Atsiliepimas</h1>

    {{ include('atsiliepimas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('atsiliepimas_index') }}">back to list</a>

    {{ include('atsiliepimas/_delete_form.html.twig') }}
{% endblock %}
