{% extends 'base.html.twig' %}

{% block title %}Atsiliepimas index{% endblock %}

{% block body %}
    <h1>Atsiliepimas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tekstas</th>
                <th>Data</th>
                <th>Antraste</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for atsiliepima in atsiliepimas %}
            <tr>
                <td>{{ atsiliepima.id }}</td>
                <td>{{ atsiliepima.tekstas }}</td>
                <td>{{ atsiliepima.data ? atsiliepima.data|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ atsiliepima.antraste }}</td>
                <td>
                    <a href="{{ path('atsiliepimas_show', {'id': atsiliepima.id}) }}">show</a>
                    <a href="{{ path('atsiliepimas_edit', {'id': atsiliepima.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('atsiliepimas_new') }}">Create new</a>
{% endblock %}
