{% extends 'base.html.twig' %}

{% block title %}New Atsiliepimas{% endblock %}

{% block body %}
    <h1>Create new Atsiliepimas</h1>

    {{ include('atsiliepimas/_form.html.twig') }}

    <a href="{{ path('atsiliepimas_index') }}">back to list</a>
{% endblock %}
