{% extends 'base.html.twig' %}

{% block title %}Atsiliepimas{% endblock %}

{% block body %}
    <h1>Atsiliepimas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ atsiliepima.id }}</td>
            </tr>
            <tr>
                <th>Tekstas</th>
                <td>{{ atsiliepima.tekstas }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ atsiliepima.data ? atsiliepima.data|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Antraste</th>
                <td>{{ atsiliepima.antraste }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('atsiliepimas_index') }}">back to list</a>

    <a href="{{ path('atsiliepimas_edit', {'id': atsiliepima.id}) }}">edit</a>

    {{ include('atsiliepimas/_delete_form.html.twig') }}
{% endblock %}
