{% extends 'base.html.twig' %}

{% block title %}Edit Sandelis{% endblock %}

{% block body %}
    <h1>Edit Sandelis</h1>

    {{ include('sandelis/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

    <a class="btn btn-success" href="{{ path('sandelis_index') }}">Atgal į sąrašą</a>

    {{ include('sandelis/_delete_form.html.twig') }}
{% endblock %}
