{% extends 'base.html.twig' %}

{% block title %}Sandelis index{% endblock %}

{% block body %}
    <h1>Kompanijos Sandeliai</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pavadinimas</th>
                <th>Adresas</th>
                <th>Plotas</th>
                <th>Darbuotojų skaičius</th>
                <th>Talpa</th>
                <th>Statybos metai</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for sandeli in sandelis %}
            <tr>
                <td>{{ sandeli.id }}</td>
                <td>{{ sandeli.pavadinimas }}</td>
                <td>{{ sandeli.adresas }}</td>
                <td>{{ sandeli.plotas }}</td>
                <td>{{ sandeli.darbuotojuSk }}</td>
                <td>{{ sandeli.talpa }}</td>
                <td>{{ sandeli.statybosMetai ? sandeli.statybosMetai|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('sandelis_show', {'id': sandeli.id}) }}">Detaliai</a>
                    <a class="btn btn-sm btn-secondary" href="{{ path('sandelis_edit', {'id': sandeli.id}) }}">Redaguoti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Nėra sandėlių duomenų bazėje</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('sandelis_new') }}">Pridėti naują</a>
{% endblock %}
