{% extends 'base.html.twig' %}

{% block title %}New Sandelis{% endblock %}

{% block body %}
    <h1>Kurti naują sandėlį</h1>

    {{ include('sandelis/_form.html.twig') }}

    <a class="btn btn-success" href="{{ path('sandelis_index') }}">Atgal į sąrašą</a>
{% endblock %}
