{% extends 'base.html.twig' %}

{% block title %}Sandėlis{% endblock %}

{% block body %}
    <h1>Sandėlis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sandeli.id }}</td>
            </tr>
            <tr>
                <th>Pavadinimas</th>
                <td>{{ sandeli.pavadinimas }}</td>
            </tr>
            <tr>
                <th>Adresas</th>
                <td>{{ sandeli.adresas }}</td>
            </tr>
            <tr>
                <th>Plotas</th>
                <td>{{ sandeli.plotas }}</td>
            </tr>
            <tr>
                <th>Darbuotojų skaičius</th>
                <td>{{ sandeli.darbuotojuSk }}</td>
            </tr>
            <tr>
                <th>Talpa</th>
                <td>{{ sandeli.talpa }}</td>
            </tr>
            <tr>
                <th>Statybos metai</th>
                <td>{{ sandeli.statybosMetai ? sandeli.statybosMetai|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" class="btn btn-success" href="{{ path('sandelis_index') }}">Atgal į sąrašą</a>
 
    <a class="btn btn-sm btn-secondary" href="{{ path('sandelis_edit', {'id': sandeli.id}) }}">Redaguoti</a>

    {{ include('sandelis/_delete_form.html.twig') }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pareigos</th>
                <th>Telefono nr</th>
                <th>Banko sąskaitos nr</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for darbuotoja in sandeli.darbuotojai%}
            <tr>
                <td>{{ darbuotoja.id }}</td>
                <td>{{ darbuotoja.pareigos }}</td>
                <td>{{ darbuotoja.telefonoNr }}</td>
                <td>{{ darbuotoja.bankoSaskaitosNr }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('darbuotojas_show', {'id': darbuotoja.id}) }}">Detaliau</a>
                    {# <a href="{{ path('darbuotojas_edit', {'id': darbuotoja.id}) }}">Redaguoti</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Nėra dirbančių darbuotojų</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
