{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Užregistruoti darbuotojo informaciją</h1>

    {{ form(employee_create) }}
    
    <a class="btn btn-success" href="{{ path('darbuotojas_index') }}">Atvaizduoti darbuotoją</a>
    
{% endblock %}
