{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valandu kiekis</th>
                <th>Darbuotojo ID</th>
                <th>Registravimo data</th>
            </tr>
        </thead>
        <tbody>
        {% for virsvalandziai_vnt in virsvalandziai %}
            <tr>
                <td>{{ virsvalandziai_vnt.getid() }}</td>
                <td>{{ virsvalandziai_vnt.getValanduKiekis() }}</td>
                <td>{{ virsvalandziai_vnt.getDarbuotojas() }}</td>
                <td>{{ virsvalandziai_vnt.getRegistravimoData()|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Nėra darbuotojų</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('overtime_create') }}">Grįžti atgal</a>
{% endblock %}
