{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>
</div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(overtime_create) }}

    <a class="btn btn-success" href="{{ path('overtime_index') }}">Atvaizduoti virsvalandzius</a>
{% endblock %}
