{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>
    <a href="{{ path('work_effectiveness_display') }}" class="text-decoration-none">Darbuotojo efektyvumo rezultatai</a>
</div>
{% endblock %}
