<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
		{{ encore_entry_link_tags('app') }}
	</head>
	<body>

		<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('home') }}">Company name</a>
			<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<a class="nav-link" href="{{ path('app_logout') }}">Atsijungti</a>
					{% else %}
						<a class="nav-link" href="{{ path('app_login') }}">Prisijungti</a>
					{% endif %}
				</li>
			</ul>
		</nav>


		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active" href="{{ path('home') }}">
									<span data-feather="home"></span>
									Dashboard
									<span class="sr-only">(current)</span>
								</a>
							</li>
						</ul>
						{% if app.user and app.user.userType.name == "Admin" %}
							<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
								<span>Sandelys</span>
							</h6>
							<ul class="nav flex-column mb-2">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('sandelis_index') }}">
										<span data-feather="file-text"></span>
										Sandėlio informacijos atvaizdavimas
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('inventorius_index') }}">
										<span data-feather="file-text"></span>
										Inventorius
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('marsrutas_index') }}">
										<span data-feather="file-text"></span>
										Transporto atvaizdavimas
									</a>
								</li>
							</ul>
						{% endif %}
						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>Finansų posisteme</span>
							<a class="d-flex align-items-center text-muted" href="#">
								<span data-feather="plus-circle"></span>
							</a>
						</h6>
						<ul class="nav flex-column mb-2">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('skola_index') }}">
									<span data-feather="file-text"></span>
									Skolų atvaizdavimas
								</a>
							</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('skola_new') }}">
							<span data-feather="file-text"></span>
							Skolų perlaidos registravimas
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('financial_report_form') }}">
							<span data-feather="file-text"></span>
							Finansinės ataskaitos parengimas
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('inventory_requests') }}">
							<span data-feather="file-text"></span>
							Inventoriaus pirkimas
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('turtas_transportas_new') }}">
							<span data-feather="file-text"></span>
							Transporto pirkimas
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('turtas_new') }}">
							<span data-feather="file-text"></span>
							Turto perlaidos registravimas
						</a>
					</li>
				</ul>
						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>Darbuotojų posisteme</span>
							<a class="d-flex align-items-center text-muted" href="#">
								<span data-feather="plus-circle"></span>
							</a>
						</h6>
						{% if app.user and app.user.userType.name == "Vartotojas" %}
						<ul class="nav flex-column mb-2">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('employee_create') }}">
									<span data-feather="file-text"></span>
									Darbuotojo informacijos užregistravimas
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('employee_edit') }}">
									<span data-feather="file-text"></span>
									Darbuotojo informacijos redagavimas
								</a>
							</li>
						{% endif %}
						{% if app.user and app.user.userType.name == "Admin" %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('work_effectiveness') }}">
									<span data-feather="file-text"></span>
									Darbo efektyvumo ataskaita
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('misdemeanour_create') }}">
									<span data-feather="file-text"></span>
									Nusižengimų registravimas
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('overtime_create') }}">
									<span data-feather="file-text"></span>
									Viršvalandžių registravimas
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('best_worker_find') }}">
									<span data-feather="file-text"></span>
									Geriausio mėnesio darbuotojo radimas
								</a>
							</li>
							{% endif %}
						</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('skola_new') }}">
								<span data-feather="file-text"></span>
								Skolų perlaidos registravimas
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('financial_report_form') }}">
								<span data-feather="file-text"></span>
								Finansinės ataskaitos parengimas
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('inventory_requests') }}">
								<span data-feather="file-text"></span>
								Inventoriaus pirkimas
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('turtas_transportas_new') }}">
								<span data-feather="file-text"></span>
								Transporto pirkimas
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('turtas_new') }}">
								<span data-feather="file-text"></span>
								Turto perlaidos registravimas
							</a>
						</li>
					</ul>
					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>Užsakymai</span>
							<a class="d-flex align-items-center text-muted" href="#">
								<span data-feather="plus-circle"></span>
							</a>
						</h6>
					<ul class="nav flex-column mb-2">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('uzsakymas_index') }}">
							<span data-feather="file-text"></span>
							Užsakymų sąrašas
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('uzsakymas_waiting') }}">
							<span data-feather="file-text"></span>
							Nepatvirtinti užsakymai
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('uzsakymas_waiting') }}">
							<span data-feather="file-text"></span>
							Nepatvirtinti užsakymai
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('uzsakymas_new') }}">
							<span data-feather="file-text"></span>
							Užsakymo sukūrimas
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('orders_edit') }}">
							<span data-feather="file-text"></span>
							Užsakymo redagavimas
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('reviews_create') }}">
							<span data-feather="file-text"></span>
							Atsiliepimo kūrimas
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('reviews_edit') }}">
							<span data-feather="file-text"></span>
							Atsiliepimų redagavimas
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link">
							<span data-feather="file-text"></span>
							Užsakovo profilio redagavimas
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="flash-{{ label }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
			<h1 class="h2"> {% block page_title %}{% endblock %}
				</h1>

				{% block body %}{% endblock %}

			</main>
		</body>
	</html>
</div></body></html></div>{% block javascripts %}{% endblock %}<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script></body></html>
