{% extends 'base.html.twig' %}

{% block title %}Redaguoti darbuotoją{% endblock %}

{% block body %}
    <h1>Redaguoti darbuotoją</h1>


    {{ include('darbuotojas/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-success" href="{{ path('sandelis_index', {'id': darbuotoja.sandelisid}) }}">Atgal į sąrašą</a>

    {{ include('darbuotojas/_delete_form.html.twig') }}
    
{% endblock %}
