{% extends 'base.html.twig' %}

{% block title %}Darbuotojas{% endblock %}

{% block body %}
    <h1>Darbuotojas</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pareigos</th>
                <th>Telefono_nr</th>
                <th>Banko saskaitos nr</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for darbuotoja in darbuotojas %}
            <tr>
                <td>{{ darbuotoja.id }}</td>
                <td>{{ darbuotoja.pareigos }}</td>
                <td>{{ darbuotoja.telefonoNr }}</td>
                <td>{{ darbuotoja.bankoSaskaitosNr }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('darbuotojas_show', {'id': darbuotoja.id}) }}">Detaliau</a>
                    <a class="btn btn-sm btn-secondary" href="{{ path('darbuotojas_edit', {'id': darbuotoja.id}) }}">Redaguoti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Nėra darbuotojų</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('darbuotojas_new') }}">Create new</a>
{% endblock %}
