{% extends 'base.html.twig' %}

{% block title %}New Darbuotojas{% endblock %}

{% block body %}

    
    <a class="btn btn-success" href="{{ path('darbuotojas_index') }}">Atvaizduoti darbuotoją</a>
    
{% endblock %}
