{% extends 'base.html.twig' %}

{% block title %}Darbuotojas{% endblock %}

{% block body %}
    <h1>Darbuotojas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ darbuotoja.id }}</td>
            </tr>
            <tr>
                <th>Vardas</th>
                <td>{{ darbuotoja.getNaudotojas.vardas }}</td>
            </tr>
            <tr>
                <th>Pavarde</th>
                <td>{{ darbuotoja.getNaudotojas.pavarde  }}</td>
            </tr>
            <tr>
                <th>Pareigos</th>
                <td>{{ darbuotoja.pareigos }}</td>
            </tr>
            <tr>
                <th>Telefono nr.</th>
                <td>{{ darbuotoja.telefonoNr }}</td>
            </tr>
            <tr>
                <th>Banko sąskaitos nr.</th>
                <td>{{ darbuotoja.bankoSaskaitosNr }}</td>
            </tr>
            <tr>
                <th>Sandėlis</th>
                <td>{{ darbuotoja.sandelisid}}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('sandelis_index')}}{{darbuotoja.sandelisid.id}} ">Atgal į sąrašą</a>
    <h2> Darbo valandos </h2>
    <table class="table">
        <thead>
            <tr>
                <th>Darbo diena</th>
                <th>Pasižymėjimas</th>
                <th>Išdirbtos valandos</th>
            </tr>
        </thead>
        <tbody>
        {% for zym in darbuotoja.pasizymejimas%}
            <tr>
                <td>{{ zym.data|date('Y-m-d') }}</td>
                <td>{{ zym.PasizymejimoLaikas|date('h:m:s') }}</td>
                <td>{{ zym.IsdirbtasLaikas }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Nėra išdirbtų valandų</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# <a href="{{ path('darbuotojas_edit', {'id': darbuotoja.id}) }}">Redaguoti</a> #}

    {# {{ include('darbuotojas/_delete_form.html.twig') }} #}
{% endblock %}
