{% extends 'base.html.twig' %}

{% block title %}Edit Turtas{% endblock %}

{% block body %}
    <h1>Edit Turtas</h1>

    {{ include('turtas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('turtas_index') }}">back to list</a>

    {{ include('turtas/_delete_form.html.twig') }}
{% endblock %}
