{% extends 'base.html.twig' %}

{% block title %}Įmonės transportas{% endblock %}

{% block body %}
    <h1>Įmonės transportas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pavadinimas</th>
                <th>Verte</th>
                <th>Isigyjimo_data</th>
                <th>Kiekis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for turta in turtas %}
            <tr>
                <td>{{ turta.id }}</td>
                <td>{{ turta.pavadinimas }}</td>
                <td>{{ turta.verte }}</td>
                <td>{{ turta.isigyjimoData ? turta.isigyjimoData|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ turta.kiekis }}</td>
                <td>
                    <a href="{{ path('turtas_show', {'id': turta.id}) }}">show</a>
                    <a href="{{ path('turtas_edit', {'id': turta.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('turtas_transportas_new') }}">Create new</a>
{% endblock %}
