{% extends 'base.html.twig' %}

{% block title %}Turto pirkimas{% endblock %}

{% block body %}
    <h1>Turto pirkimas</h1>

    {{ include('turtas/_form.html.twig') }}

    <a href="{{ path('turtas_index') }}">back to list</a>
{% endblock %}