{% extends 'base.html.twig' %}

{% block title %}Transporto pirkimas{% endblock %}

{% block body %}
    <h1>Transporto pirkimas</h1>

    {{ include('turtas/_form.html.twig') }}

    <a href="{{ path('turtas_index_transportas', {key: "atsakymas"}) }}">back to list</a>
{% endblock %}  
