{% extends 'base.html.twig' %}

{% block title %}Turtas{% endblock %}

{% block body %}
    <h1>Turtas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ turta.id }}</td>
            </tr>
            <tr>
                <th>Pavadinimas</th>
                <td>{{ turta.pavadinimas }}</td>
            </tr>
            <tr>
                <th>Verte</th>
                <td>{{ turta.verte }}</td>
            </tr>
            <tr>
                <th>Isigyjimo_data</th>
                <td>{{ turta.isigyjimoData ? turta.isigyjimoData|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Kiekis</th>
                <td>{{ turta.kiekis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('turtas_index') }}">back to list</a>

    <a href="{{ path('turtas_edit', {'id': turta.id}) }}">edit</a>

    {{ include('turtas/_delete_form.html.twig') }}
{% endblock %}
