{% extends 'base.html.twig' %}

{% block title %}Finansinės ataskaitos generavimo forma!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div>
<h1>Sudėtinga funkcija - finansų ataskaitos atvaizdavimo formos langas</h1>
<form class="form-group" action="{{ path('generate_financial_report') }}" method="post">
    <div class="form-group">
        <label for="from">Nuo:</label>
        <input  class="form-control" type="date" id="from" name="report_from">
    </div>
    <div  class="form-group">
        <label for="to">Iki:</label>
        <input class="form-control" type="date" id="to" name="report_to">
    </div>
    <button type="submit" class="btn btn-primary">Generuoti ataskaitą</button>
</form>
</div>
{% endblock %}
