{% extends 'base.html.twig' %}

{% block title %}Finansinės ataskaitos atvaizdavimo langas{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div>
{% if not ataskaita %}
    <h1>Sudėtinga funkcija - finansų ataskaitos atvaizdavimo langas</h1>
{% endif %}

<h1>Ataskaita laikotarpiui nuo {{ from }} iki {{ to }} </h1>
<table>
    <tr>
        <th>Rodiklis</th>
        <th>Dydis, €</th>
    </tr>
    <tr>
        <th>Dabartinis turtas</th>
        <th>{{ all_equity }}</th>
    </tr>
    <tr>
        <th>Nurodyto laikotarpio skola</th>
        <th>{{ debt }}</th>
    </tr>
    <tr>
        <th>Nurodyto laikotarpio pajamos</th>
        <th>{{ sales }}</th>
    </tr>
    <tr>
        <th>Nurodyto laikotarpio išlaidos</th>
        <th>{{ bought_equity }}</th>
    </tr>
    <tr>
        <th>Nurodyto laikotarpio pelnas</th>
        <th>{{ profit }}</th>
    </tr>
<table>

{% if ataskaita %}
    <h1> Ataskaita sugeneruota: {{ data }}</h1>
{% endif %}

<form action="{{ path('download_financial_report') }}" method="post">
    <input type="hidden" name="debt" value={{ debt }}>
    <input type="hidden" name="sales" value={{ sales }}>
    <input type="hidden" name="bought_equity" value={{ bought_equity }}>
    <input type="hidden" name="all_equity" value={{ all_equity }}>
    <input type="hidden" name="profit" value={{ profit }}>
    <input type="hidden" name="from" value={{ from }}>
    <input type="hidden" name="to" value={{ to }}>
    {% if not ataskaita %}
        <button type="submit" class="btn btn-primary" >Atsisiųsti ataskaitą</button>
    {% endif %}
</form>

</div>
{% endblock %}
