{% if app.user.userType.name == 'Admin' %}
<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Ar tikrai norite ištrinti šį vartotoją?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-sm btn-danger">Trinti</button>
</form>
{% endif %}
