{% extends 'base.html.twig' %}

{% block title %}Redaguoti vartotoją{% endblock %}

{% block body %}
    <h1>Redaguoti vartotoją</h1>
    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-end">
            {{ include('user/_delete_form.html.twig') }}
            {% if app.user.userType.name == 'Admin' %}
            <a class="btn btn-sm btn-secondary ml-2" href="{{ path('user_index') }}">Grįžti</a>
            {% endif %}
        </div>
    </div>

    {{ include('user/_form.html.twig', {'button_label': 'Atnaujinti'}) }}
{% endblock %}
