{% extends 'base.html.twig' %}

{% block title %}Vartotojų valdymas{% endblock %}

{% block body %}
    <h1>Vartotojų sąrašas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Vardas</th>
                <th>Pavarde</th>
                <th>Gimimo_data</th>
                <th>Pasto_kodas</th>
                <th>Adresas</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.vardas }}</td>
                <td>{{ user.pavarde }}</td>
                <td>{{ user.gimimoData ? user.gimimoData|date('Y-m-d') : '' }}</td>
                <td>{{ user.pastoKodas }}</td>
                <td>{{ user.adresas }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('user_show', {'id': user.id}) }}">Rodyti</a>
                    <a class="btn btn-sm btn-secondary" href="{{ path('user_edit', {'id': user.id}) }}">Redaguoti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Vartotojų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('user_new') }}">Kurti naują vartotoją</a>
{% endblock %}
