{% extends 'base.html.twig' %}

{% block title %}Naujas vartotojas{% endblock %}

{% block body %}
    <h1>Kurti naują vartotoją</h1>

    {{ include('user/_form.html.twig') }}
    {% if app.user.userType.name == 'Admin' %}
        <a class="btn btn-sm btn-secondary" href="{{ path('user_index') }}">Grįžti</a>
    {% endif %}
{% endblock %}
