{% extends 'base.html.twig' %}

{% block title %}{{user.vardas}} {{user.pavarde}}{% endblock %}

{% block body %}
    <h1>{{user.vardas}} {{user.pavarde}}</h1>

    <div class="row mb-2">
        <div class="col-12 d-flex flex-row justify-content-end">
            <a class="btn btn-sm btn-primary mr-2" href="{{ path('user_edit', {'id': user.id}) }}">Redaguoti</a>
            {% if app.user.userType.name == 'Admin' %}
                <a class="btn btn-sm btn-secondary mr-2" href="{{ path('user_index') }}">Grįžti</a>
            {% endif %}
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Vardas</th>
                <td>{{ user.vardas }}</td>
            </tr>
            <tr>
                <th>Pavarde</th>
                <td>{{ user.pavarde }}</td>
            </tr>
            <tr>
                <th>Gimimo_data</th>
                <td>{{ user.gimimoData ? user.gimimoData|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Pasto_kodas</th>
                <td>{{ user.pastoKodas }}</td>
            </tr>
            <tr>
                <th>Adresas</th>
                <td>{{ user.adresas }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
